@import "base.css";

/*header*/
header{
    height: 0.88rem;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
    padding: 0 0.22rem;
    /*去padding*/
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}
header .iconfont{
    color: #4ebbfe;
}

/*content*/
.content{
    padding: 0.22rem;
    box-sizing: border-box;
}
.content li{
    height: 1.6rem;
    position: relative;
}
.content li p{
    font-size: 0.26rem;
    color: #41b2fc;
    padding: 0.3rem 0 0.2rem 0.2rem;
}
.content li p::before{
    content: '';
    width: 0.1rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    top: 0.42rem;
    left: 0;
}
.content li input{
    width: 7rem;
    height: 0.76rem;
    background-color: #e7f6ff;
    border-radius: 0.08rem;
    opacity: 0.5;
}
.content li a{
    position: absolute;
    right: 0;
    top: 0.3rem;
    color: #36a8fe;
}
.content .save{
    width: 4.5rem;
    height: 0.6rem;
    background-image: linear-gradient(90deg, #37e06f 0%, #31d69a 100%), linear-gradient(#3bacfe, #3bacfe);
    background-blend-mode: normal, normal;
    box-shadow: 0 0.04rem 0.2rem 0 rgba(55, 223, 116, 0.75);
    border-radius: 0.3rem;
    margin: 0.7rem auto;
}
.content .save p{
    font-size: 0.2rem;
    color: white;
    text-align: center;
    line-height: 0.6rem;
}