@import "base.css";

/*header*/
header{
    height: 0.88rem;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
    padding: 0 0.22rem;
    /*去padding*/
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
header .iconfont{
    color: #4ebbfe;
}

/*nav*/
nav{
    padding: 0 0.22rem;
    box-sizing: border-box;
    width: 7.12rem;
    height: 0.6rem;
    margin: 0 auto;
    text-align: center;
    background-color: #ebf7ff;
    border: solid 3px rgba(55, 169, 254, 0.17);
    opacity: 0.58;
    border-radius: 0.3rem;
}
nav span{
    font-size: 0.24rem;
    color: #c8d9e6;
    float: left;
    line-height: 0.5rem;
}