@import "base.css";

/*header*/
header{
    height: 0.88rem;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
    padding: 0 0.22rem;
    /*åŽ»padding*/
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}
header .iconfont{
    color: #4ebbfe;
}

/*address*/
.address{
    height: 0.88rem;
    background: red;
}