@import "base.css";

/*header*/
header{
    height: 0.88rem;
    line-height: 0.88rem;
    color: #4ebbfe;
    font-size: 0.38rem;
    padding: 0 0.22rem;
    /*去padding*/
    box-sizing: border-box;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0.03rem 0.43rem 0 rgba(41, 167, 255, 0.13);
}
header .iconfont{
    color: #4ebbfe;
}

/*content*/
.content{
    width: 100%;
    padding: 0.22rem;
    box-sizing: border-box;
    min-height: 1rem;
}
.content .address{
    height: 0.88rem;
}
.content .address a{
    width: 100%;
    display: inline-block;
    line-height: 0.88rem;
    font-size: 0.26rem;
    color: black;
    opacity: 0.4;
}
.content .address a p{
    float: left;
}
.content .address a span{
    float: right;
}
.content .shop{
    height: 2.6rem;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 0.02rem rgba(0,0,0,0.02) solid;
}
.content .shop a{
    display: flex;
    width: 1.74rem;
    height: 1.74rem;
    margin-right: 0.28rem;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 0.01rem 0.21rem 0 rgba(223, 223, 223, 0.43);
    border-radius: 0.1rem;
}
.content .shop a img{
    width: 1.44rem;
    height: 1.66rem;
}
.content .shop .info{
    flex: 1;
    height: 1.74rem;
    position: relative;
}
.content .shop .info p:nth-child(1){
    font-size: 0.3rem;
    color: black;
    opacity: 0.6;
    margin-bottom: 0.2rem;
}
.content .shop .info p:nth-child(2){
     font-size: 0.26rem;
     color: #36a8fe;
     margin-left: 0.15rem;
     margin-bottom: 0.10rem;
     position: relative;
 }
.content .shop .info p:nth-child(2)::before {
    content: ' ';
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: -0.15rem;
    top: 0.13rem;
}
.content .shop .info p:nth-child(3){
    font-size: 0.22rem;
    color: #000000;
    opacity: 0.3;
    margin-left: 0.15rem;
    margin-bottom: 0.15rem;
    position: relative;
}
.content .shop .info p:nth-child(3)::before {
    content: ' ';
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: -0.15rem;
    top: 0.13rem;
}
.content .shop .info p:nth-child(4){
    font-size: 0.26rem;
    color: #fbb548;
    margin-left: 0.15rem;
    margin-bottom: 0.15rem;
    position: relative;
}
.content .shop .info p:nth-child(4)::before {
    content: ' ';
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: -0.15rem;
    top: 0.13rem;
}
.content .shop .info p:nth-child(5){
    font-size: 0.24rem;
    color: #8a8c8d;
    position: absolute;
    bottom: 0;
    right: 0;
}
.content .shop .info p:nth-child(5)::before {
    content: ' ';
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    left: -0.15rem;
    top: 0.13rem;
}
.content ul li{
    width: 100%;
    height: 0.88rem;
    border-bottom: 0.02rem rgba(0,0,0,0.02) solid;
    position: relative;
}
.content ul li a{
    width: 100%;
    height: 0.88rem;
    line-height: 0.88rem;

}
.content ul li p:nth-child(1){
    font-size: 0.24rem;
    color: #8a8c8d;
    float: left;
    margin-left: 0.2rem;
}
.content ul li p:nth-child(1)::before{
    content: ' ';
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    top: 0.4rem;
    left: 0rem;
}
.content ul li p:nth-child(2){
    font-size: 0.22rem;
    color: black;
    opacity: 0.4;
    float: right;
    margin-right: 0.3rem;
}
.content ul li p:nth-child(3){
    width: 0.14rem;
    height: 0.24rem;
    color: #8a8c8d;
    position: absolute;
    right: 0.1rem;
    top: 0;
}
.content ul li:nth-child(4) p:nth-child(2){
    font-size: 0.22rem;
    color: black;
    opacity: 0.4;
    float: left;
    margin-left: 0.2rem;
}
.content ul li:nth-child(6) p:nth-child(2){
    font-size: 0.30rem;
    color: #36a8fe;
}

/*footer*/
footer{
    width: 100%;
    height: 1.08rem;
    background: #f1faff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    position: relative;
}
footer p:nth-child(1){
    font-size: 0.24rem;
    color: #3bacfe;
    opacity: 0.6;
    margin-left: 0.4rem;
}
footer p:nth-child(1)::before{
    content: ' ';
    width: 0.05rem;
    height: 0.05rem;
    background-color: #44b5ff;
    box-shadow: 0 0.02rem 0.05rem 0 rgba(68, 181, 255, 0.43);
    border-radius: 0.03rem;
    position: absolute;
    top: 0.5rem;
    left: 0.2rem;
}
footer p:nth-child(2){
    font-size: 0.36rem;
    color: #36a8fe;
    margin-right: 2rem;
}
footer p:nth-child(3){
     text-align: center;
     line-height: 0.6rem;
     font-size: 0.2rem;
     color: #ffffff;
     width: 3.5rem;
     height: 0.6rem;
     background-color: #3bacfe;
     box-shadow: 0 0.05rem 0.12rem 0 rgba(59, 172, 254, 0.43);
     border-radius: 0.3rem;
 }
footer p:nth-child(3) a {
    display: inline-block;
    color: #ffffff;
    width: 3.5rem;
    height: 0.6rem;
}